<% provide(:title, "Edit settings") %> 
<h1>Update your settings:</h1>

<%= bootstrap_form_for(@user, html: { class: 'form-horizontal', id: 'settings-form' }) do |f| %>
    <div class="row">
        <div class="span2">
        </div>
        <div class="span10">
            <%= f.text_field :full_name, label: 'Full Name' %>
            <%= f.select :default_view, User.default_view.options %>
            <div class="control-group">
                <label class="control-label" for="user_time_zone">Time Zone</label>
                <div class="controls">
                <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span5">
        </div>
        <div class="span4">
            <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
        </div>
    </div>
<% end %>

<%= bootstrap_form_for(@user, html: { class: 'form-horizontal', id: 'password-form' }) do |f| %>
    <div class="row">
        <div class="span2">
        </div>
        <div class="span10">
             <%= f.password_field :password, label: 'Password' %>
            <%= f.password_field :password_confirmation, label: 'Password Confirmation' %>
        </div>
    </div>
    <div class="row">
        <div class="span5">
        </div>
        <div class="span4">
            <%= f.submit "Change password", class: "btn btn-large btn-primary" %>
        </div>
    </div>
<% end %>
