<% provide(:title, 'Create New Account') %>

<div class="center hero-unit">
    <h1>Create Account</h1>
    <div class="row">
            <%= form_for(@user) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
                <%= f.label :full_name, "Full Name" %>
                <%= f.text_field :full_name %>

                <%= f.label :username, "Account Username" %>
                <%= f.text_field :username %>

                <%= f.label :password %>
                <%= f.label "(Must be 6-20 chars with a letter and a number)" %>
                <%= f.password_field :password %> 

                <%= f.label :password_confirmation, "Password Confirmation" %>
                <%= f.password_field :password_confirmation %>
                <br><br>
                <%= f.submit "Create Account", class: "btn btn-large btn-primary" %>
            <% end %>
    </div>
</div>
