<% provide(:title, 'Create New Account') %>

<h1>Create Account</h1>
<%= bootstrap_form_for(@user, html: { class: 'form-horizontal', id: 'user-form' }) do |f| %>
    <div class="row">
        <div class="span2">
        </div>
        <div class="span10">
            <div id="user_errorbox"><ul></ul></div>
            <%= f.text_field :full_name, label: 'Full Name' %>
            <%= f.text_field :username, label: 'Account Username' %>
            <%= f.password_field :password, label: 'Password' %>
            <%= f.password_field :password_confirmation, label: 'Password Confirmation' %>
        </div>
    </div>
    <div class="row">
        <div class="span5">
        </div>
        <div class="span4">
            <%= f.submit "Create Account", class: "btn btn-large btn-primary" %>
        </div>
    </div>
<% end %>
