<% provide(:title, @user.full_name) %>

<div class="row">
    <aside class="span2">
        <section>
            <%= render 'events/event_form' %>
        </section>
        <hr>My Calendars: <i class="icon-plus"></i>
        <ul class="calendars">
        <%= render @calendars %>
        </ul><hr>
    </aside>
    <div class="span10">
        <% if @format == :month %>
            <%= render 'events/events_month' %>
        <% elsif @format == :week %>
            <%= render 'events/events_week' %>
        <% elsif @format == :day %>
            <%= render 'events/events_day' %>
        <% else %>
            <%= render 'events/events_list' %>
        <% end %>
    </div>
</div>
