<% provide(:title, @user.full_name) %>

<div class="row">
    <aside class="span1">
        <section>
            <%= render 'events/event_form' %>
        </section>
    </aside>
    <div class="span11">
        <% if @format == :month %>
            <%= render 'events/events_month' %>
        <% elsif @format == :week %>
            <%= render 'events/events_week' %>
        <% elsif @format == :day %>
            <%= render 'events/events_day' %>
        <% else %>
            <%= render 'events/events_list' %>
        <% end %>
    </div>
</div>
