<% provide(:title, @user.full_name) %>

<div class="row">
    <aside class="span2">
        <section>
            <%= render 'events/event_form' %>
        </section>
        <section>
            <%= render 'calendars/calendar_form' %>
        </section>
        <hr>My Calendars: 
        <%= link_to '#calendarModal', :id => "new_calendar", :data => {:toggle => "modal"} do %>
            <i class="icon-plus iconlink"></i>
        <% end %>
        <ul class="calendars">
        <%= render @calendars %>
        </ul><hr>
        Shared Calendars:
        <%= link_to new_subscription_path do %>
            <i class="icon-plus iconlink"></i>
        <% end %>
        <ul class="calendars">
        <%= render @subscribed_calendars %>
        </ul><hr>
    </aside>
    <div class="span10">
        <% if @format == :month %>
            <%= render 'events/events_month' %>
        <% elsif @format == :week %>
            <%= render 'events/events_week' %>
        <% elsif @format == :day %>
            <%= render 'events/events_day' %>
        <% else %>
            <%= render 'events/events_list' %>
        <% end %>
    </div>
</div>
