<% provide(:title, @user.full_name) %>

<div class="row">
    <aside class="span1">
        <section>
            <%= render 'shared/event_form' %>

            <script type="text/javascript">
                $('.timepicker').timepicker({minuteStep: 5});
                $('.datepicker').datepicker({autoclose: true, todayBtn: true});
                $(document).ready(function(){ $('.event-popover').popover();}) 
                
                $('#event_all_day').click(function() {
                    if (!this.checked) {
                        $('#event_start').attr('disabled',false);
                        $('#event_end').attr('disabled',false);
                    } else {
                        $('#event_start').attr('disabled',true);
                        $('#event_end').attr('disabled',true);
                        $('#event_start').val('');
                        $('#event_end').val('');
                    }
                });
            </script>
        </section>
    </aside>
    <div class="span11">
        <% if @format == :month %>
            <%= render 'events/events_month' %>
        <% elsif @format == :week %>
            <%= render 'events/events_week' %>
        <% elsif @format == :day %>
            <%= render 'events/events_day' %>
        <% else %>
            <%= render 'events/events_list' %>
        <% end %>
    </div>
</div>
