<!-- Button to trigger modal -->
<a href="#eventModal" role="button" class="btn" data-toggle="modal">New Event</a>
 
<!-- Modal -->
<div id="eventModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <%= bootstrap_form_for(@event, html: { class: 'form-horizontal', id: 'event-form' }) do |f| %>
        <div class="modal-header">
            <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>New Event</h3>
        </div>
        <div class="modal-body">
            <%= f.text_field :title, label: 'Title' %>
            <%= f.text_field :location, label: 'Location' %>
            <%= f.text_field :date, class: "datepicker input-small", label: 'Date' %>
            <%= f.control_group :all_day do %>
                <%= f.check_box :all_day, label: 'All Day Event' %>
            <% end %>
            <%= f.text_field :start, class: "timepicker input-small", label: 'Start Time' %>
            <%= f.text_field :end, class: "timepicker input-small", label: 'End Time' %>
            <%= f.text_area :notes, label: 'Notes', :id => "message_area", :cols => 10, :rows => 3 %>
        </div>
        <div class="modal-footer">
            <%= f.submit "Save", class: "btn btn-primary pull-right" %>
        </div>
    <% end %>
</div>

<script type="text/javascript">
  $('.timepicker').timepicker({minuteStep: 5});
  $('.datepicker').datepicker({autoclose: true, todayBtn: true});

  $('#event_all_day').click(function() {
      if (!this.checked) {
          $('#event_start').attr('disabled',false);
          $('#event_end').attr('disabled',false);
      } else {
          $('#event_start').attr('disabled',true);
          $('#event_end').attr('disabled',true);
          $('#event_start').val('');
          $('#event_end').val('');
      }
  });

  // $('#event-form').validate({
  //   rules: {
  //       event_title: 'required',
  //   }
  // });

  // $(document).ready(function() {
  //   $("#event-form").submit(function() {
  //       return $("#event-form").validate({
  //         debug: true,            
  //           rules: {
  //             event_title: {required: true},
  //           }
  //       });
  //   });
  // });

</script>

