<div id="events">
    <h2 id="month">
        <%= link_to current_url(format: :month, date: @date.prev_month) do %>
            <i class="icon-arrow-left"></i>
        <% end %>
        <%= @date.strftime("%B %Y") %>
        <%= link_to current_url(format: :month, date: @date.next_month)  do %>
            <i class="icon-arrow-right"></i>
        <% end %>
    </h2>
    <%= calendar @date do |date| %>
        <%= link_to current_url(format: :day, date: date)  do %>
            <%= date.day %>
        <% end %>
        <% if @events_by_date[date] %>
            <ul class="unstyled">
            <% @events_by_date[date].each do |event| %>
                <li>
<a href="#" class="event-popover" data-toggle="popover" title="<%= "#{event.title}:#{event.location}:#{event.when}" %>"  data-content="And here's some amazing content" data-trigger="hover" data-animation="">                    
                <%= event.title %></a></li>
                <% end %>
            </ul>
        <% end %>
    <% end %>
</div>



