<div id="events">
    <h2 id="month">
        <%= link_to current_url(format: :month, date: @date.prev_month) do %>
            <i class="icon-arrow-left"></i>
        <% end %>
        <%= @date.strftime("%B %Y") %>
        <%= link_to current_url(format: :month, date: @date.next_month)  do %>
            <i class="icon-arrow-right"></i>
        <% end %>
    </h2>
    <%= calendar @date do |date| %>
        <%= link_to current_url(format: :day, date: date)  do %>
            <%= date.day %>
        <% end %>
        <% if @events_by_date[date] %>
            <% event_count = @events_by_date[date].size %>
            <% count = 0; event_list = "" %>
            <ul class="unstyled">
            <% @events_by_date[date].each do |event| %>
                <% if event_count <= 3 || count <= 1 %>
                    <li>
                    <% if event.all_day %>                    
                        <div class="events-allday">
                    <% else %>
                        <div class="events-times">
                    <% end %>

                    <%= link_to edit_event_path(event), :class => "event-popover", 
                        :title => "#{event.title}",
                        :data => {:toggle => "popover", 
                            :content => "#{event.where}#{event.when}#{event.my_notes}",
                            :trigger => "hover", :placement => "top", :html => "true",
                            :remote => "true"} do %>
                        <i class="icon-plus-sign"></i><%= event.short_title %>
                    <% end %>
                    <% if event.all_day %>                    
                        </div>
                    <% end %>
                    </li>
                <% end %>
                <% if event_count > 3 && count > 1 %>
                    <% event_list += "<b>" + event.title + "</b><br>" %>
                    <% event_list += "#{event.where}#{event.when}#{event.my_notes}<br><br>" %>
                <% end %>
                <% count = count + 1 %>
            <% end %>
                <% if event_count > 3 %>
                    <li>
                    <a href="#" class="event-popover" data-toggle="popover" 
                       title="<%= date.strftime("%B %e") %>"  
                       data-content="<%= event_list %>" data-placement="top" 
                       data-trigger="click" data-html="true">                    
                       <%= "#{event_count - 2} more..."%></li>
                <% end %>
            </ul>
        <% end %>
    <% end %>
</div>



