<li>
  <% if calendar.displayed.nil? or calendar.displayed %>
    <%= link_to calendar_path(calendar.id, displayed: false) do %>
    <i class="icon-check iconlink" id="check<%= calendar.id%>" ></i>
    <% end %>
  <% else %>
    <%= link_to calendar_path(calendar.id, displayed: true) do %>
    <i class="icon-check-empty iconlink" id="check<%= calendar.id%>" ></i>
    <% end %>
  <% end %>
  <i class="icon-circle <%= calf_class(calendar, @user) %>" ></i><%= calendar.title %>
  <span class="tooltip_class" data-toggle="tooltip" title="Calendar Settings">
  <%= link_to edit_calendar_path(calendar), :remote => true do %>
    <i class="icon-cogs iconlink"></i>
  <% end %>
  <span>
</li>
