<div id="calendarModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <%= bootstrap_form_for(@calendar, remote: request.xhr?, :method => "put",
            html: { class: 'form-horizontal', id: 'calendar-form' }) do |f| %>
        <div class="modal-header">
            <button type="button" class="close pull-right" id="calendar_close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="calendar_model_title">Edit Calendar</h3>
        </div>
        <div class="modal-body">
            <div id="calendar_errorbox"><ul></ul></div>
            <%= f.text_field :title, value: "", label: 'Title' %>
            <%= f.text_area  :description, label: 'Description', :cols => 40, :rows => 3 %>
            <%= f.select :color, Calendar.color.options %>
            <%= f.control_group :public do %>
                <%= f.check_box :public, label: 'Make calendar read-only to everyone' %>
            <% end %>
        </div>
        <div class="modal-footer">
            <%= f.submit "Save", class: "btn btn-primary pull-right" %>
         </div>
    <% end %>
</div>
