<li>
  <% if subscribed_calendar.displayed? %>
    <%= link_to subscription_path(subscribed_calendar.id, displayed: false) do %>
    <i class="icon-check iconlink" id="check<%= shared_calendar.id%>" ></i>
    <% end %>
  <% else %>
    <%= link_to subscription_path(subscribed_calendar.id, displayed: true) do %>
    <i class="icon-check-empty iconlink" id="check<%= shared_calendar.id%>" ></i>
    <% end %>
  <% end %>
  <i class="icon-circle <%= calf_class(calendar) %>" ></i><%= subscribed_calendar.title %>
  <%= link_to edit_subscription_path(subscribed_calendar.id), :remote => true do %>
    <i class="icon-cogs iconlink"></i>
  <% end %>
</li>
