<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <% if signed_in? %>
        <%= link_to "Grebe Calendar App", user_path(current_user), id: "logo" %>
      <% else %>
        <%= link_to "Grebe Calendar App", root_path, id: "logo" %>
      <% end %>
      <nav>
        <% if params[:controller] == 'users' && params[:action] == 'show' %>
          <ul class="nav pull-left nav-pills">
            <% if @format == :month %>
              <li class="active">
            <% else %>
              <li>
            <% end %>
            <%= link_to "Month", current_url(:format => :month ) %></li>
            <% if @format == :week %>
              <li class="active">
            <% else %>
              <li>
            <% end %>
            <%= link_to "Week", current_url(:format => :week ) %></li>
            <% if @format == :day %>
              <li class="active">
            <% else %>
              <li>
            <% end %>
            <%= link_to "Day", current_url(:format => :day ) %></li>
            <% if @format == :list %>
              <li class="active">
            <% else %>
              <li>
            <% end %>
            <%= link_to "List", current_url(:format => :list ) %></li>
            <li>
            <li><%= link_to '#eventModal', :data => {:toggle => "modal"} do %>
                <i class="icon-plus icon-white"></i>New Event</a>
            <% end %></li>
          </ul>
        <% end %>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to user_path(current_user) do %>
              <i class="icon-home icon-white"></i>
            <% end %></li>
            <li id="fat-menu" class="dropdown">
              <%= link_to '#', class: "dropdown-toggle", :data => {:toggle => "dropdown"} do %>
                 <i class="icon-user icon-white"></i><b class="caret"></b>
              <% end %>
                <ul class="dropdown-menu">
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li><%= link_to signout_path, method: "delete" do %>
                    Signout <i class="icon-off"></i>
                    <% end %></li>
              </ul>
            </li>
          <% else %>
             <% if params[:controller] != 'sessions' || params[:action] != 'new' %>
              <li><%= link_to "Sign In", signin_path %></li>
             <% end %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>


 
